<p id="notice"><%= notice %></p>

<p>
  <strong>Wine name:</strong>
  <%= @wine.wine_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wine.description %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @wine.colour %>
</p>

<strong>User Who Posted:</strong>
<%= @wine.user_profile.first_name%>
<br/>

<%= image_tag @wine.image %>
<br/>
<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
